.wrong-btn {
	background: rgb(200, 50, 50);
	color: white;
}

.correct-btn {
	background: rgb(50, 200, 50);
	color: white;
}

.label {
	font-size: 50px;
	letter-spacing: 10px;
}

.label-h1 {
	font-size: 50px;
	color: white;
	margin-bottom: 35px;
}

.cell-hs {
	padding: 0px 40px;
	font-size: 28px;
	color: gold;
	background-color: transparent;
}

.username-box {
	margin-top: 50px;
	margin-bottom: 20px;
	border: 3px solid rgb(150, 255, 150);
	border-radius: 10px;
	padding: 5px;
}

.label-end {
	margin-top: 50px;
	font-size: 30px;
}

.banner {
	background-image: url("../img/hangman.jpg");
	background-size: 200px 200px;
	background-repeat: no-repeat;
	background-position: center;
	min-width: 200px;
	min-height: 200px; 
	border-radius: 25px;
	color: white;
	margin-bottom: 40px;
}

.start-btn {
	margin-top: 20px;
	min-width: 170px;
	min-height: 80px;    
	background: rgb(150, 255, 150);
	border-radius: 15px;
	border: none;
}

.start-btn:hover {
	background: rgb(200, 255, 200);
}

.menu {
	background-color: rgb(85, 155, 85);
	min-width: 500px;
	min-height: 700px;
}
